<configuration>
  <system.webServer>
    <handlers>
      <add 
        name="iisnode" 
        path="dist/index.js"  <!-- Your compiled Node.js entry file -->
        verb="*" 
        modules="iisnode" 
      />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js">
          <match url="/*" />
          <action type="Rewrite" url="dist/index.js" />  <!-- Same as above -->
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>